<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Change Trail Completion Date</title>
  <!-- <style>
    body {
      background-size: 100% 100%;
      background-image:url({{url_for('static', filename='img/5.jpeg')}})
    }
  </style> -->
</head>


<body id="bg-change_trail_date"><!-- <body background="../static/img/5.jpeg">     THIS NOT WORKING???-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <div class="anchor">
      <a href="/dashboard">Dashboard |</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>

  <!-- main content -->
  <div class="col2">
    <h1 class="welcome_headers">Update Trail:</h1>
    <form action='/update/{{edit.id}}/trail' method='post' class="box">
      {% with messages = get_flashed_messages(category_filter=['trail']) %}     
      {% if messages %} 
      <div class="alert alert-danger" role="alert">                           
        {% for message in messages %}            
        <p>{{message}}</p>                   
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <div class="form-group">
        <input type="hidden" name="id" value="{{edit.id}}">
      </div>
      <div class="form-group">
        <label for="name">Trail Name:</label>
        <input type="text" class="form-control" id="trail_name" name="name" value="{{ edit.name }}">
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" name="location" value="{{edit.location}}">
      </div>
      <div class="form-group">
        <label for="distance">Distance (in miles):</label>
        <input type="number" class="form-control" id="distance" name="distance" value="{{edit.distance}}">
      </div>
      <div class="form-group">
        <label for="complete_date">Completion Date:</label>
        <input type="date" class="form-control" id="complete_date" name="complete_date"
          value="{{ edit.complete_date }}">
      </div>
      <div class="form-group">
        <p>Diffcult Rating:</p>
        <div class="rate">
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</body>

</html>